h1{
    font-family: 'Cinzel', serif;
}

h2{
    font-family: 'Cinzel', serif;
}
section{
    font-family: 'Poiret One', cursive;
    text-decoration: white;

}

#select-coffee h6{
    text-decoration: white;
}
body{
    background-color: lightgray;
    /*background-image: url("../img/pexels-lisa-fotios-1402407.jpeg");*/
    /*background-size:     cover;                      !* <------ *!*/
    /*background-repeat:   no-repeat;*/
    /*background-position: center center;              !* optional, center the image *!*/
}
#coffees{
    background-image: url("../img/pexels-drew-williams-3483967.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 10px;

}

header{
    border-radius: 10px;
}
.carousel-inner {
    width: 100% !important;
    height: 75vh;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
}
coffee.roast